Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

fix: streamline fiber bundles refoldering and use new computation
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR0_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR25_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_DK_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA118_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA29_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA30_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SWM_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SW_HCP_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_VONECONOMOKOSKINAS_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix streamlines missing file suffix
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR0_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR25_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_DK_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA118_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA29_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA30_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SWM_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SW_HCP_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_VONECONOMOKOSKINAS_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "Delete pli_blockface_right_hemisphere.json"
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

decrease streamline bundle configs
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR0_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR25_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_DK_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA118_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA29_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA30_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SWM_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SW_HCP_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

bigbrain cell dists
  features/tabular/point_distribution/cell_distribution/bigbrain_patch_cell_dits.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Chenonceau volumes as generic vois bids descriptions as modality
  features/images/03291f21e647fefa6f0b79f100abe6a3.json
  features/images/1f83ce21284fd0ecf206860e0a141d77.json
  features/images/215c51798185cd470acfdefe4dc66be7.json
  features/images/3adfec0a6623835bfd79435cd8edeaa7.json
  features/images/711cc0dc7186bb0249278e99fcb68bde.json
  features/images/9a1a1d6962d42b3f5f123828db019720.json
  features/images/9de57bb794c5d5e5d291688f56bf99b0.json
  features/images/c34c4b8da06452e83a0bd1a18c7152d9.json
  features/images/e336cb78d5befccf4d20b375627250db.json
  features/images/e9bd9f559706cb72d3c7ffba1f92baf5.json
  features/images/ea1b89166c8b6e8d2365ace0f565b04e.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update bigbrain_patch_cell_dits.json
  features/tabular/point_distribution/cell_distribution/bigbrain_patch_cell_dits.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update readme copyright years
  README.rst
Due: none

add ng link to von economo
  maps/mni152-vonEconomoKoskinas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update Chenonceau volumes to neurgolancer links
  features/images/03291f21e647fefa6f0b79f100abe6a3.json
  features/images/1f83ce21284fd0ecf206860e0a141d77.json
  features/images/215c51798185cd470acfdefe4dc66be7.json
  features/images/3adfec0a6623835bfd79435cd8edeaa7.json
  features/images/711cc0dc7186bb0249278e99fcb68bde.json
  features/images/9a1a1d6962d42b3f5f123828db019720.json
  features/images/9de57bb794c5d5e5d291688f56bf99b0.json
  features/images/c34c4b8da06452e83a0bd1a18c7152d9.json
  features/images/e336cb78d5befccf4d20b375627250db.json
  features/images/e9bd9f559706cb72d3c7ffba1f92baf5.json
  features/images/ea1b89166c8b6e8d2365ace0f565b04e.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update PLI URL
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix big brain patch tsv format
  features/tabular/point_distribution/cell_distribution/bigbrain_patch_cell_dits.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix fsaverage citation url
  spaces/fsaverage.json
  spaces/fsaverage6.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add name field to sulci atlas maps
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add funcitonal fingerprints per parcellation
  features/tabular/fingerprints/functional/func_fingerprint_difumo1024.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo128.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo256.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo512.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo64.json
  features/tabular/fingerprints/functional/func_fingerprint_dk.json
  features/tabular/fingerprints/functional/func_fingerprint_jba31.json
  features/tabular/fingerprints/functional/func_fingerprint_short_fiber_bundles_hcp.json
  features/tabular/fingerprints/functional/func_fingerprint_superficial_bundles.json
  features/tabular/fingerprints/functional/func_fingerprint_vep.json
  features/tabular/fingerprints/functional/func_fingerprint_von_economo.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add ebrains uuid for jba 3.1 VIM
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update de62abc1-7252-4774-9965-5040f5e8fb6b_macaque_receptor_fingerprint.json
  features/tabular/de62abc1-7252-4774-9965-5040f5e8fb6b_macaque_receptor_fingerprint.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update jba 3.1 conn with released dataset
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove prerelease tag from jba 3.1 conns
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Create rat_m2_receptor_25a6fe2e-a88b-4fdc-a596-993884d40c52.json
  features/images/vois/autoradiography/rat_m2_receptor_25a6fe2e-a88b-4fdc-a596-993884d40c52.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix bboxes of marmoset morphometry images
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Delete MNI152_VONECONOMOKOSKINAS_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_VONECONOMOKOSKINAS_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

use terminal regions for streamline bundle anchors
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Create MNI152_JBA31_LABELLED_streamline_fiberbundles_long.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_long.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove false (artifact) bboxes from marmoset morphometry
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update cell density dataset folder
  features/tabular/corticalprofiles/celldensity/cell_density_profile_v2.json
  features/tabular/layerstatistics/celldensity/cell_density_v2.json
  features/tabular/point_distribution/cell_distribution/bigbrain_patch_cell_dits.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update generic image type
  features/images/03291f21e647fefa6f0b79f100abe6a3.json
  features/images/1f83ce21284fd0ecf206860e0a141d77.json
  features/images/215c51798185cd470acfdefe4dc66be7.json
  features/images/3adfec0a6623835bfd79435cd8edeaa7.json
  features/images/711cc0dc7186bb0249278e99fcb68bde.json
  features/images/9a1a1d6962d42b3f5f123828db019720.json
  features/images/9de57bb794c5d5e5d291688f56bf99b0.json
  features/images/c34c4b8da06452e83a0bd1a18c7152d9.json
  features/images/e336cb78d5befccf4d20b375627250db.json
  features/images/e9bd9f559706cb72d3c7ffba1f92baf5.json
  features/images/ea1b89166c8b6e8d2365ace0f565b04e.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update human sulci atlas name and description
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci: check_schema w siibra-python branch on demand
  .github/workflows/check-schema.yml
Due: none

Composite Macaque Atlas -> Combined Macaque Atlas
  maps/mebrains-mebrains-charm-fmri-combined-labelled.json
  parcellations/mebrains-charm-fmri-combined.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add uuids to marmoset atlas
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add marmoset pmaps
  maps/marmoset_nm-cortical-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add ebrains uuid for macaque hi-res mris
  features/images/vois/mri/macaque_t2w_100um_in_MEBRAINS_template_space.json
  features/images/vois/mri/macaque_t2w_180um_in_MEBRAINS_template_space.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
