Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_parcellation_region_name_duplication: any of: parcellations/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

Add datasetversions to jba pmaps
  _code/add_jba_pmap_ebrainsdata.py
  julich_brain_terminolgy.json
  maps/colin27-jba118-continuous.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
  parcellations/julichbrain_v3_0_2.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix ci/cd script
  .gitlab-ci.yml
Due: none

Add descriptive subject names and cohort for rat connectivity
  features/connectivity/regional/tracer/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracer_connecitivty.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Refolder and rename rat connectivity
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Julich Brain 3.0.2 to 3.0.3
  _code/extract_gii_map_index.py
  maps/colin27-jba30-labelled.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/fsaverage-jba30-labelled.json
  maps/mni152-jba30-labelled.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
  parcellations/julichbrain_v3_0_3.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add config gen script and config of the prerelease-data
  _code/add_jba3_HCP_connectivity_and_bold.py
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

JBA3 conn HCP, use provided region list
  _code/add_jba3_HCP_connectivity_and_bold.py
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Adjust mni152 nii link to refactored ZipfileConnector
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add ebrains metadata for jba29 bigbrain
  _code/add_jba_bigbrain_ebrainsdata.py
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update nii links and dataset versions of sw hcp maps
  maps/mni152-sw_hcp-continuous.json
  maps/mni152-sw_hcp-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: update to mebrains feat: remove pre-release from monkey per nicola's instruction
  atlases/monkey.json
  maps/monkey-mebrains-labelled.json
  parcellations/mebrains_parcellation.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: only run check connectivity on connecctivity update
  .gitlab-ci.yml
Due: none

fix mebrains errors
  maps/monkey-mebrains-labelled.json
  parcellations/mebrains_parcellation.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Match "Area TPJ (STG,SMG)" in fsaverage jba3 to parcellation version
  maps/fsaverage-jba30-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

merge master
  .gitlab-ci.yml
Due: none

fix ci
  .gitlab-ci.yml
Due: none

trigger: name dupl
  parcellations/dk.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add unparcellated regions to fsaverage jba3 map
  maps/fsaverage-jba30-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

unparcellated regions -> unmappedIndicies
  maps/fsaverage-jba30-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Fix name mistmatch of Julich brain 3 regions
  _code/fix_regionname_mismatch.py
  maps/colin27-jba30-labelled.json
  maps/fsaverage-jba30-labelled.json
  maps/mni152-jba30-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Check regions in maps for exact match in parcs
  _ci/verify_maps.py
Due: none

Correct mismatched regions names according to parcellations
  maps/bigbrain-jba29-labelled.json
  parcellations/cortical_layers.json
  parcellations/rat_waxholmv4.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Recreate difumo jsons from the source https://parietal-inria.github.io/DiFuMo/
  _code/create_difumo_jsons.py
  maps/mni152-difumo1024-continuous.json
  maps/mni152-difumo1024-labelled.json
  maps/mni152-difumo128-continuous.json
  maps/mni152-difumo128-labelled.json
  maps/mni152-difumo256-continuous.json
  maps/mni152-difumo256-labelled.json
  maps/mni152-difumo512-continuous.json
  maps/mni152-difumo512-labelled.json
  maps/mni152-difumo64-continuous.json
  maps/mni152-difumo64-labelled.json
  parcellations/difumo1024.json
  parcellations/difumo128.json
  parcellations/difumo256.json
  parcellations/difumo512.json
  parcellations/difumo64.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: add ebrains ref
  _code/populate_pe_ref.py
  parcellations/bundles_long.json
  parcellations/bundles_short.json
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/mebrains_parcellation.json
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: added allen ccfv3 vois maint: updated voi def
  features/images/vois/cellbody/d71d369a-c401-4d7e-b97a-3fb78eed06c5_huysegoms_voi_1.json
  features/images/vois/cellbody/d71d369a-c401-4d7e-b97a-3fb78eed06c5_huysegoms_voi_2.json
  features/images/vois/cellbody/voi1.json
  features/images/vois/cellbody/voi2.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add ci to release pipeline
  .gitlab-ci.release-checklist.yml
  .gitlab-ci.yml
  _ci/create_new_issue.py
  release_checklist.md
Due: none

trigger deploy
  parcellations/julichbrain_v2_9_0.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: voi name
  features/images/vois/cellbody/dopamine-1.json
  features/images/vois/cellbody/dopamine-2.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add wiki brain stem voi
  features/images/vois/mri/WIKIBrainStem.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add publication info to wikibrainstem voi
  features/images/vois/mri/WIKIBrainStem.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add citation data for wikibrainstem
  features/images/vois/mri/WIKIBrainStem.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add broca voi
  features/images/vois/lsfm/broca_neun.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove "(Version draft)" from broca image
  features/images/vois/lsfm/broca_neun.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add pli left hemisphere blockface
  features/images/vois/blockface/pli_left_hemisphere_blockface.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add pli section 0920 fom
  features/images/vois/pli/pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add mars atlas
  maps/colin27-marsatlas-labelled.json
  parcellations/marsatlas.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add von economo map
  maps/mni152-vonEconomoKoskinas-labelled.json
  parcellations/vonEconomoKoskinas.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add abbreviations to mars atlas
  maps/colin27-marsatlas-labelled.json
  parcellations/marsatlas.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
