Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

fix hippocampus pli segmentation link
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

flake8 rules and satisfy flake8 in ci code
  .flake8
  _ci/check_precompmesh.py
  _ci/cron_sync_kg_proxy.py
  _ci/region_attr_compliance.py
  _ci/verify_ebrains_ids.py
  _ci/verify_json.py
  _ci/verify_maps.py
Due: none

test: verify neuroglancer urls
  .github/workflows/test-configuration.yml
  _ci/verify_neuroglancer_urls.py
Due: none

add pytest to ci requirements
  _ci/requirements.txt
Due: none

add datasetversion to pli hippocampus image features
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_t2.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_transmittance.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add datasetversion to pli hippocampus image features
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_t2.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_transmittance.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci/cd: fail deployment of data validation explorer instance if no runner is available for 5 min
  .github/workflows/update-datavalidation.yml
Due: none

ci/cd: restart explorer for data validation manually
  .github/workflows/update-datavalidation.yml
Due: none

fix: ebrains species id for CHENONCEAU images
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: use 0.4a80 ids for CHENONCEAU images
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "ci/cd: fail deployment of data validation explorer instance if no runner is available for 5 min"
  .github/workflows/update-datavalidation.yml
Due: none

ci/cd: skip data validation until the runner is available
  .github/workflows/update-datavalidation.yml
Due: none

fix: "ci/cd: skip data validation until the runner is available"
  .github/workflows/update-datavalidation.yml
Due: none

fix cicd data validation skipping
  .github/workflows/update-datavalidation.yml
Due: none

feat: update bbox
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: bbox must not be defined for volumes in space (recursion when building space)
  spaces/bigbrain_2015.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update bbox, ran by siibra-chore hash 6bb0e79b7c45ce6372d8e0a70202caf949f8fa2b
  maps/bigbrain-cortical-labelled.json
  maps/bigbrain-isocortex-labelled.json
  maps/bigbrain-jba29-labelled.json
  maps/colin27-jba118-continuous.json
  maps/colin27-jba118-labelled.json
  maps/colin27-jba29-labelled.json
  maps/colin27-jba30-labelled.json
  maps/colin27-jba31-labelled.json
  maps/mni152-dwm-labelled.json
  maps/mni152-jba118-labelled.json
  maps/mni152-jba29-labelled.json
  maps/mni152-jba30-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-sw_hcp-labelled.json
  maps/mni152-swm-labelled.json
  maps/mni152-visfAtlas-labelled.json
  maps/monkey-mebrains-labelled.json
  maps/mouse-ccf2015-labelled.json
  maps/mouse-ccf2017-labelled.json
  maps/rat-waxholmv1_01-labelled.json
  maps/rat-waxholmv2-labelled.json
  maps/rat-waxholmv3-labelled.json
  maps/rat-waxholmv4-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: check & add bbox (siibra-chore c3efeeaf2b9c2e2581eb3481fe0d93468f9bf01b)
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: feat bbox
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/cellbody/d71d369a-c401-4d7e-b97a-3fb78eed06c5_huysegoms_voi_1.json
  features/images/vois/cellbody/d71d369a-c401-4d7e-b97a-3fb78eed06c5_huysegoms_voi_2.json
  features/images/vois/lsfm/broca_neun.json
  features/images/vois/mri/WIKIBrainStem.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_t2.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_transmittance.json
  features/images/vois/xpct/7e065c31-aff6-4211-b777-dcb5050b4617_hippocampus._XPCT.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix bbox (chore 742a813ae55043098b77b72016c749871a18d315)
  maps/bigbrain-jba29-labelled.json
  maps/colin27-jba118-continuous.json
  maps/mni152-difumo1024-labelled.json
  maps/mni152-difumo128-labelled.json
  maps/mni152-difumo256-labelled.json
  maps/mni152-difumo512-labelled.json
  maps/mni152-difumo64-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: matrix row/col remapper
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

test: fail if any unmatched regions references in maps (#47)
  _ci/verify_maps.py
Due: none

test: ensure_no_duplicated_region_name (satisfy flake8)
  .github/workflows/test-configuration.yml
  _ci/ensure_no_duplicated_region_name.py
Due: none

Fix: Remove kg dataset v1 uuids wrongly placed in julich brain 2.9 pmaps
  maps/colin27-jba29-continuous.json
  maps/mni152-jba29-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: bigbrain julich brain 2.9 publication and ebrains field
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Manually correct julich brain <= v3.0.3 region tree issues based on 3.1
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

recreate region tree of superficial fibre bundles
  parcellations/bundles_short.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

test: check region id uniqueness
  .github/workflows/check-region-id-uniqueness.yml
Due: none

fix typo in test
  .github/workflows/check-region-id-uniqueness.yml
Due: none

test ci
  parcellations/bundles_short.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

test: fix configuration env var
  .github/workflows/check-region-id-uniqueness.yml
  parcellations/bundles_short.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci: add xfail list duplicate region name check
  _ci/ensure_no_duplicated_region_name.py
Due: none

fix: ICBM 2009c nonl asym dataset citation name
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove visf atlas on fsaverage until region names are solidified
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
