Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

fix: space publication fix: parcellation doi
  parcellations/julichbrain_v3_0_3.json
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: dx.doi.org -> doi.org fix: http -> https
  maps/mni152-vonEconomoKoskinas-labelled.json
  parcellations/julichbrain_v1_18.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mni_colin_27.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix archive schema
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mni_colin_27.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

refactor: converted cnmtx to ecs
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

readd shortnames for spaces
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Release version of julich brain 3.1
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_226-continuous.json
  maps/mni152-jba31_227-continuous.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove datasetversion uuid of jba3.1 until release
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

visf atlas: remove temp provider in data-proxy
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix icbm zip file
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add matrix to connectivity data
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

correct version value for jba 3.1
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add next version to jba 3.0.3
  parcellations/julichbrain_v3_0_3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Release version of julich brain 3.1 on ebrains
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Release version of julich brain 3.1 on ebrains
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

jba 3.1 update ng providers
  maps/colin27-jba31-labelled.json
  maps/mni152-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

partial fix julich brain 3.1 colormap
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use mesh attributes for volumes with mesh format
  maps/bigbrain-cortical-labelled.json
  maps/bigbrain-isocortex-labelled.json
  maps/bigbrain-jba29-labelled.json
  maps/colin27-jba118-labelled.json
  maps/colin27-jba29-labelled.json
  maps/colin27-jba30-labelled.json
  maps/fsaverage-jba29-labelled.json
  maps/fsaverage-jba30-labelled.json
  maps/fsaverage-jba31-labelled.json
  maps/fsaverage-visfAtlas-labelled.json
  maps/fsaverage6-jba29-labelled.json
  maps/hcp32k-jba29-labelled.json
  maps/mni152-difumo1024-labelled.json
  maps/mni152-difumo128-labelled.json
  maps/mni152-difumo256-labelled.json
  maps/mni152-difumo512-labelled.json
  maps/mni152-difumo64-labelled.json
  maps/mni152-dwm-labelled.json
  maps/mni152-jba118-labelled.json
  maps/mni152-sw_hcp-labelled.json
  maps/mni152-swm-labelled.json
  maps/mouse-ccf2015-labelled.json
  maps/mouse-ccf2017-labelled.json
  maps/rat-waxholmv1_01-labelled.json
  maps/rat-waxholmv2-labelled.json
  maps/rat-waxholmv3-labelled.json
  maps/rat-waxholmv4-labelled.json
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix fsaverage label
  maps/fsaverage-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix rgb
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

jba31: fix labels for fsaverage, add colors
  maps/fsaverage-jba31-labelled.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update jba3.1 prerelase to EBRAINS release version
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_226-continuous.json
  maps/mni152-jba31_227-continuous.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

reconvert jba 3.1 and 3.0.3 parc configs to attribute collection
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Fix: difumo statistical maps, missing zeroth z vals
  maps/mni152-difumo1024-continuous.json
  maps/mni152-difumo128-continuous.json
  maps/mni152-difumo256-continuous.json
  maps/mni152-difumo512-continuous.json
  maps/mni152-difumo64-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: difumo labelled maps
  maps/mni152-difumo1024-labelled.json
  maps/mni152-difumo128-labelled.json
  maps/mni152-difumo256-labelled.json
  maps/mni152-difumo512-labelled.json
  maps/mni152-difumo64-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

updates cohort, paradigm to aggregate by
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: publication -> doi
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
