Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

remove preconfigured bbox artifacts from MARMOSET cell body staining images
  features/images/vois/cellbody/CJ1741_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/CJ200L_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/CJ205_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/average_CB_density_map_in_NM_space.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci: update preconf bbox and centroid comp conditions
  .github/workflows/test_centroid_computation.yml
  .github/workflows/test_preconfigured_boundingboxes.yml
Due: none

remove preconf bboxes from cortial and isocortex maps
  maps/bigbrain-cortical-labelled.json
  maps/bigbrain-isocortex-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add uuid to marmoset maps
  maps/marmoset_nm-cortical-continuous.json
  maps/marmoset_nm-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update marmoset pmaps sparese map representation wrt v1
  maps/marmoset_nm-cortical-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add uuids to marmoset cell body volumes
  features/images/vois/cellbody/CJ1741_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/CJ200L_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/CJ205_CB_density_map_in_NM_space.json
  features/images/vois/cellbody/average_CB_density_map_in_NM_space.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove preconf bboxes from maps serving ng/precomp
  maps/monkey-mebrains-labelled.json
  maps/mouse-ccf2015-labelled.json
  maps/mouse-ccf2017-labelled.json
  maps/rat-waxholmv1_01-labelled.json
  maps/rat-waxholmv2-labelled.json
  maps/rat-waxholmv3-labelled.json
  maps/rat-waxholmv4-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update some metadata of human sulci atlas
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: add parcid to sparse index read coords
  .cvt_v2/cvt_maps.py
  annotationsets/siibra_annotationset_colin27-jba118-continuous.json
  annotationsets/siibra_annotationset_colin27-jba29-continuous.json
  annotationsets/siibra_annotationset_colin27-jba30_157regions-continuous.json
  annotationsets/siibra_annotationset_colin27-jba30_175regions-continuous.json
  annotationsets/siibra_annotationset_colin27-jba31_207-continuous.json
  annotationsets/siibra_annotationset_colin27-jba31_227-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo1024-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo128-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo256-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo512-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo64-continuous.json
  annotationsets/siibra_annotationset_mni152-dwm-continuous.json
  annotationsets/siibra_annotationset_mni152-jba29-continuous.json
  annotationsets/siibra_annotationset_mni152-jba30_157regions-continuous.json
  annotationsets/siibra_annotationset_mni152-jba30_175regions-continuous.json
  annotationsets/siibra_annotationset_mni152-jba31_207-continuous.json
  annotationsets/siibra_annotationset_mni152-jba31_227-continuous.json
  annotationsets/siibra_annotationset_mni152-sw_hcp-continuous.json
  annotationsets/siibra_annotationset_mni152-swm-continuous.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

mebrains retinotropic atlas
  maps/mebrains-retinotropy-continuous.json
  maps/mebrains-retinotropy-labelled.json
  parcellations/mebrains_retinotopy_atlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: sparse index read coords
  .cvt_v2/cvt_maps.py
  annotationsets/siibra_annotationset_colin27-jba118-continuous.json
  annotationsets/siibra_annotationset_colin27-jba29-continuous.json
  annotationsets/siibra_annotationset_colin27-jba30_157regions-continuous.json
  annotationsets/siibra_annotationset_colin27-jba30_175regions-continuous.json
  annotationsets/siibra_annotationset_colin27-jba31_207-continuous.json
  annotationsets/siibra_annotationset_colin27-jba31_227-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo1024-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo128-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo256-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo512-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo64-continuous.json
  annotationsets/siibra_annotationset_mni152-dwm-continuous.json
  annotationsets/siibra_annotationset_mni152-jba29-continuous.json
  annotationsets/siibra_annotationset_mni152-jba30_157regions-continuous.json
  annotationsets/siibra_annotationset_mni152-jba30_175regions-continuous.json
  annotationsets/siibra_annotationset_mni152-jba31_207-continuous.json
  annotationsets/siibra_annotationset_mni152-jba31_227-continuous.json
  annotationsets/siibra_annotationset_mni152-sw_hcp-continuous.json
  annotationsets/siibra_annotationset_mni152-swm-continuous.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: sulci atlas volume sources and add kg uuid
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Create fsaverage5-jba31-labelled.json
  maps/fsaverage5-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

freesurfer fsaverage5
  spaces/fsaverage5.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Delete mebrains-charm-fmri-combined.json
  parcellations/mebrains-charm-fmri-combined.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update retinotopic macaque visual cortex map
  maps/mebrains-retinotropy-continuous.json
  maps/mebrains-retinotropy-labelled.json
  parcellations/mebrains_retinotopy_atlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Delete mebrains-mebrains-charm-fmri-combined-labelled.json
  maps/mebrains-mebrains-charm-fmri-combined-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

WIKIBrainStem atlas anchored on BigBrain
  features/images/vois/mri/WIKIBrainStem_T2.json
  maps/bigbrain-wikibrainstem-labelled.json
  parcellations/wikibrainstem.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Deprecate Chenonceau 1be7069f-fd40-4f15-b3b3-80904d95e360
  features/images/vois/dti/chenonceau_dti_fa_200um.json
  features/images/vois/dti/chenonceau_dti_rgb_200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update Chenonceau w new dataset
  features/images/vois/dti/de39dac4-5102-4530-b5d7-976d1134becb--711cc0dc7186bb0249278e99fcb68bde.json
  features/images/vois/dti/de39dac4-5102-4530-b5d7-976d1134becb--c34c4b8da06452e83a0bd1a18c7152d9.json
  features/images/vois/mri/de39dac4-5102-4530-b5d7-976d1134becb--9a1a1d6962d42b3f5f123828db019720.json
  features/images/vois/mri/de39dac4-5102-4530-b5d7-976d1134becb--ea1b89166c8b6e8d2365ace0f565b04e.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix macaque retinotopic pmap and parcellation
  maps/mebrains-retinotropy-continuous.json
  parcellations/mebrains_retinotopy_atlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Rat iso- and proisocortical areas
  maps/waxholm-iso_proiso_cortex-labelled.json
  parcellations/rat_iso_proiso_cortex.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix duplicate id
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add decoders for non-standard receptor profiles
  features/tabular/corticalprofiles/receptor/b3cac84d-2146-4750-a5f1-174076f82292_HOMO_SAPIENS_AREA_4P_PRECG_AMPA.json
  features/tabular/corticalprofiles/receptor/b3cac84d-2146-4750-a5f1-174076f82292_HOMO_SAPIENS_AREA_4P_PRECG_D1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove deprecated CHENONCEAU volumes
  features/images/vois/dti/chenonceau_dti_fa_200um.json
  features/images/vois/dti/chenonceau_dti_rgb_200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
