Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

add a few test configs
  parcellationschemes/julichbrain_v3_1.json
  parcellationschemes/vonEconomoKoskinas.json
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

id, name, species as fields
  parcellationschemes/julichbrain_v3_1.json
  parcellationschemes/vonEconomoKoskinas.json
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove ebrains field in space example
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove url field in space example
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

simplify space example
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: add other spaces & add data recipes
  .cvt_v2/cvt_spaces.py
  old_configs/spaces/icbm_152_2009c_nonl_asym.json
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/marmoset_nm_nissl.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: space shortname
  .cvt_v2/cvt_spaces.py
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/marmoset_nm_nissl.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: parcellations
  .cvt_v2/cvt_parc.py
  parcellationschemes/bundles_long.json
  parcellationschemes/bundles_short.json
  parcellationschemes/cortical_layers.json
  parcellationschemes/difumo1024.json
  parcellationschemes/difumo128.json
  parcellationschemes/difumo256.json
  parcellationschemes/difumo512.json
  parcellationschemes/difumo64.json
  parcellationschemes/dk.json
  parcellationschemes/harvard-oxford-cortl-maxprob-thr0.json
  parcellationschemes/harvard-oxford-cortl-maxprob-thr25.json
  parcellationschemes/isocortex.json
  parcellationschemes/julichbrain_v1_18.json
  parcellationschemes/julichbrain_v2_9_0.json
  parcellationschemes/julichbrain_v3_0_3.json
  parcellationschemes/julichbrain_v3_1.json
  parcellationschemes/marmoset_nm.json
  parcellationschemes/marsatlas.json
  parcellationschemes/mebrains_parcellation.json
  parcellationschemes/mouse_allenccfv3_2015.json
  parcellationschemes/mouse_allenccfv3_2017.json
  parcellationschemes/rat_waxholmv1_01.json
  parcellationschemes/rat_waxholmv2.json
  parcellationschemes/rat_waxholmv3.json
  parcellationschemes/rat_waxholmv4.json
  parcellationschemes/superficial-white-bundle-hcp.json
  parcellationschemes/vep.json
  parcellationschemes/vonEconomoKoskinas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: annotationset
  .cvt_v2/cvt_maps.py
  annotationsets/colin27-jba118-continuous.json
  annotationsets/colin27-jba29-continuous.json
  annotationsets/colin27-jba30_157regions-continuous.json
  annotationsets/colin27-jba30_175regions-continuous.json
  annotationsets/colin27-jba31_207-continuous.json
  annotationsets/colin27-jba31_227-continuous.json
  annotationsets/mni152-difumo1024-continuous.json
  annotationsets/mni152-difumo128-continuous.json
  annotationsets/mni152-difumo256-continuous.json
  annotationsets/mni152-difumo512-continuous.json
  annotationsets/mni152-difumo64-continuous.json
  annotationsets/mni152-dwm-continuous.json
  annotationsets/mni152-jba29-continuous.json
  annotationsets/mni152-jba30_157regions-continuous.json
  annotationsets/mni152-jba30_175regions-continuous.json
  annotationsets/mni152-jba31_207-continuous.json
  annotationsets/mni152-jba31_227-continuous.json
  annotationsets/mni152-sw_hcp-continuous.json
  annotationsets/mni152-swm-continuous.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add engine
  .cvt_v2/cvt_tabular.py
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove preconfigured bboxes from bigbrain jba 2.9 map
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix marmoset utf-8 encoding issue
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: duplicated ids
  features/images/vois/cellbody/siibra_feature_average_CB_density_map_in_NM_space.json
  features/images/vois/pli/siibra_feature_b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  old_configs/features/images/vois/cellbody/average_CB_density_map_in_NM_space.json
  old_configs/features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: regional connectivity
  .cvt_v2/cvt_featconn.py
  features/connectivity/regional/anatomofunctional/siibra_feature_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/siibra_feature_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/siibra_feature_37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: add list label to space
  .cvt_v2/cvt_spaces.py
  spaces/siibra_space_bigbrain_2015.json
  spaces/siibra_space_fsaverage.json
  spaces/siibra_space_fsaverage6.json
  spaces/siibra_space_hcp32k.json
  spaces/siibra_space_icbm_152_2009c_nonl_asym.json
  spaces/siibra_space_marmoset_nm_nissl.json
  spaces/siibra_space_mebrains.json
  spaces/siibra_space_mni_colin_27.json
  spaces/siibra_space_mouse_allenccfv3.json
  spaces/siibra_space_rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add name to connectivity
  .cvt_v2/cvt_featconn.py
  features/connectivity/regional/anatomofunctional/siibra_feature_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/siibra_feature_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_feature_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/siibra_feature_37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: featureset filename fix
  .cvt_v2/cvt_featconn.py
  features/connectivity/regional/anatomofunctional/siibra_featureset_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/siibra_featureset_dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/siibra_featureset_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/siibra_featureset_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_featureset_0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/siibra_featureset_4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/siibra_featureset_37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix id of pli hsv maps
  features/images/vois/mri/siibra_feature_b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
  features/images/vois/pli/siibra_feature_b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  old_configs/features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
  old_configs/features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: add sulci atlas
  atlases/human.json
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: difumo data recipes
  .cvt_v2/cvt_maps.py
  annotationsets/siibra_annotationset_mni152-difumo1024-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo128-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo256-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo512-continuous.json
  annotationsets/siibra_annotationset_mni152-difumo64-continuous.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

human hippocampus atlas and fibers
  features/connectivity/streamlinefiberbundles/MNI152_LABELLED_hippocampus_streamlines_fiberbundles.json
  maps/human_hippocampus.json
  parcellations/human_hippocampus.json
Due: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
