Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

feat: convert bold
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: julich brain doi references
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix ci: check precompmesh, rm connectivity, checkschema
  .github/workflows/check-schema.yml
  .github/workflows/check_connectivity_json.yml
  _ci/check_precompmesh.py
Due: none

feat: fix parcellation -> parcellationscheme
  .github/workflows/check-maps-precompmesh.yml
  .github/workflows/check-schema.yml
  .github/workflows/test-configuration.yml
  _ci/verify_volume_idx.py
  parcellationschemes/bundles_long.json
  parcellationschemes/bundles_short.json
  parcellationschemes/cortical_layers.json
  parcellationschemes/difumo1024.json
  parcellationschemes/difumo128.json
  parcellationschemes/difumo256.json
  parcellationschemes/difumo512.json
  parcellationschemes/difumo64.json
  parcellationschemes/dk.json
  parcellationschemes/harvard-oxford-cortl-maxprob-thr0.json
  parcellationschemes/harvard-oxford-cortl-maxprob-thr25.json
  parcellationschemes/isocortex.json
  parcellationschemes/julichbrain_v1_18.json
  parcellationschemes/julichbrain_v2_9_0.json
  parcellationschemes/julichbrain_v3_0_3.json
  parcellationschemes/julichbrain_v3_1.json
  parcellationschemes/marsatlas.json
  parcellationschemes/mebrains_parcellation.json
  parcellationschemes/mouse_allenccfv3_2015.json
  parcellationschemes/mouse_allenccfv3_2017.json
  parcellationschemes/rat_waxholmv1_01.json
  parcellationschemes/rat_waxholmv2.json
  parcellationschemes/rat_waxholmv3.json
  parcellationschemes/rat_waxholmv4.json
  parcellationschemes/superficial-white-bundle-hcp.json
  parcellationschemes/vep.json
  parcellationschemes/visfAtlas.json
  parcellationschemes/vonEconomoKoskinas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: parcellationschemes path fix: verify map
  _ci/region_attr_compliance.py
  _ci/verify_maps.py
Due: none

feat: auto calculate/commit sparseindex
  .github/workflows/calc_upload_sparseindex.yaml
  .github/workflows/check-trigger-sparseindex.yaml
  _ci/check_sparse_index.py
  _ci/create_sparse_index.py
  _maps/colin27-jba118-continuous.json
  _maps/colin27-jba29-continuous.json
  _maps/colin27-jba30_157regions-continuous.json
  _maps/colin27-jba30_175regions-continuous.json
  _maps/colin27-jba31_207-continuous.json
  _maps/colin27-jba31_227-continuous.json
  _maps/mni152-difumo1024-continuous.json
  _maps/mni152-difumo128-continuous.json
  _maps/mni152-difumo256-continuous.json
  _maps/mni152-difumo512-continuous.json
  _maps/mni152-difumo64-continuous.json
  _maps/mni152-dwm-continuous.json
  _maps/mni152-jba118-continuous.json
  _maps/mni152-jba29-continuous.json
  _maps/mni152-jba30_157regions-continuous.json
  _maps/mni152-jba30_175regions-continuous.json
  _maps/mni152-jba31_207-continuous.json
  _maps/mni152-jba31_227-continuous.json
  _maps/mni152-sw_hcp-continuous.json
  _maps/mni152-swm-continuous.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: json duplicated name fix: name of sparse index build
  .github/workflows/check-trigger-sparseindex.yaml
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: sparse index trigger
  .github/workflows/calc_upload_sparseindex.yaml
Due: none

trigger workflow
  .github/workflows/check-trigger-sparseindex.yaml
Due: none

fix using secrets
  .github/workflows/calc_upload_sparseindex.yaml
  .github/workflows/check-trigger-sparseindex.yaml
Due: none

fix ambiguous statistical map
  .github/workflows/calc_upload_sparseindex.yaml
  .github/workflows/check-trigger-sparseindex.yaml
  _ci/check_sparse_index.py
  _ci/create_sparse_index.py
Due: none

fix: mapname contain spaces
  .github/workflows/calc_upload_sparseindex.yaml
Due: none

convert the remaining
  _ci/check_sparse_index.py
Due: none

Update check-trigger-sparseindex.yaml
  .github/workflows/check-trigger-sparseindex.yaml
Due: none

add sparseindex volume to maps
  maps/colin27-jba118-continuous.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/mni152-difumo1024-continuous.json
  maps/mni152-difumo128-continuous.json
  maps/mni152-difumo256-continuous.json
  maps/mni152-difumo512-continuous.json
  maps/mni152-difumo64-continuous.json
  maps/mni152-dwm-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
  maps/mni152-sw_hcp-continuous.json
  maps/mni152-swm-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: update regional matrix
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

WIP: Use attribute_mapping for space template variants
  spaces/fsaverage.json
  spaces/fsaverage6.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add MRI segmentation of hippocampus from PLI dataset
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_mri_segmentation.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix jba3 connectivity config creation script
  _code/add_jba3_HCP_connectivity_and_bold.py
Due: none

Connectivity and BOLD for Julich Brain 3.1 (prerelease)
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix jba 3.1 conn and bold: use schema for v0.4
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "Connectivity and BOLD for Julich Brain 3.1 (prerelease)"
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove connectivity and bold for jba 3.1
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Reapply "Connectivity and BOLD for Julich Brain 3.1 (prerelease)" + prerelease field
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

added existing dataset version ref to jba31 cont map
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add dataset & dsv to cron update
  .github/workflows/cron-update-kg-proxy.yml
Due: none

Revert "Remove connectivity and bold for jba 3.1"
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add prerelease field to prerelase data features
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_1_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add prerelease field to prerelase data features
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

use prerelease field for visf atlas
  parcellations/visfAtlas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix (for version 0.4): modality connectitiy, HCP, Julich brain 3.1
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
