Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

update nifti links of jba 2.9 maps with links from dataset version a8932c7e-063c-4131-ab96-996d843998e9 and 45f2e012-3740-47ee-9fe5-9199358c9f5a
  maps/colin27-jba29-labelled.json
  maps/fsaverage-jba29-labelled.json
  maps/mni152-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

siibra/location/pointset/v0.1 -> siibra/location/pointcloud/v0.1
  features/tabular/layerstatistics/celldensity/55dd8363-a67f-4ab1-907f-33b6cb6e78dd_julich_brain_cytoarchitectonic_maps_2_9_motor_4a.json
  features/tabular/layerstatistics/celldensity/5f2e4084-0e02-4942-a223-b16abb16d676_julich_brain_cytoarchitectonic_maps_2_9_visual_fg3.json
  features/tabular/layerstatistics/celldensity/6e6a8254-47ab-46f8-bf40-a506ca17129e_julich_brain_cytoarchitectonic_maps_2_9_visual_hoc3d.json
  features/tabular/layerstatistics/celldensity/a19a2068-a82e-4e3e-96fe-9a7829cd06bb_julich_brain_cytoarchitectonic_maps_2_9_visual_fg1.json
  features/tabular/layerstatistics/celldensity/af8220eb-f7e2-4716-a865-af9b3104f614_julich_brain_cytoarchitectonic_maps_2_9_spl_7p.json
  features/tabular/layerstatistics/celldensity/cdd6ca05-af8f-4b47-9199-009281f69d46_julich_brain_cytoarchitectonic_maps_2_9_visual_hoc5.json
  features/tabular/layerstatistics/celldensity/d4d17a1a-67c6-4bd4-92e1-1038e02a335d_julich_brain_cytoarchitectonic_maps_2_9_frontalpole_fp1.json
  features/tabular/layerstatistics/celldensity/d50a7704-c3a1-4ce8-be40-ec85b55608b0_julich_brain_cytoarchitectonic_maps_2_9_visual_hoc2.json
  features/tabular/layerstatistics/celldensity/d9b6f4b1-c30a-4bad-8c0c-42a71a2edc1c_julich_brain_cytoarchitectonic_maps_2_9_visual_hoc4d.json
  features/tabular/layerstatistics/celldensity/dc358cb8-2bbb-40f1-998c-356c9e13e4c6_julich_brain_cytoarchitectonic_maps_2_9_visual_hoc1.json
  features/tabular/layerstatistics/celldensity/fad4af58-0785-4909-bf1d-0700bb48680f_julich_brain_cytoarchitectonic_maps_2_9_visual_fg4.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Fix forgotten pointset/v0.1 -> pointcloud/v0.1
  features/tabular/layerstatistics/celldensity/bdc8b2cd-55a5-4d04-a5ed-1ce67d462ca3_julich_brain_cytoarchitectonic_maps_2_9_broca_44.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix ci: add xfail list duplicate region name check
  _ci/ensure_no_duplicated_region_name.py
Due: none

fix: julich brain 1.18 Ventral Dentate Nucleus (Cerebellum) right PM link
  maps/mni152-jba118-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

recreate region tree of superficial fibre bundles
  parcellations/bundles_short.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: ICBM 2009c nonl asym dataset citation name
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Manually correct julich brain <= v3.0.3 region tree issues based on 3.1
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add dataset info to Harvard-Oxford maps
  maps/mni152-cort_thr0-labelled.json
  maps/mni152-cort_thr25-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: julich brain 2.9 bigbrain map wrong volume mapping
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix bigbrain jba2.9 bboxes of Area IFS4 (IFS) right and left
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix ebrains uuids of jba 2.9 bigbrain map
  maps/bigbrain-jba29-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

test: preconfigured bounding boxes
  .github/workflows/test_preconfigured_boundingboxes.yml
Due: none

test: compute centroids
  .github/workflows/test_centroid_computation.yml
Due: none

replace jba29 pmap links w ebrains links
  maps/colin27-jba29-continuous.json
  maps/mni152-jba29-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update test_preconfigured_boundingboxes.yml
  .github/workflows/test_preconfigured_boundingboxes.yml
Due: none

update sparsemap schema
  maps/colin27-jba118-continuous.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/colin27-jba31_207-continuous.json
  maps/colin27-jba31_227-continuous.json
  maps/mni152-difumo1024-continuous.json
  maps/mni152-difumo128-continuous.json
  maps/mni152-difumo256-continuous.json
  maps/mni152-difumo512-continuous.json
  maps/mni152-difumo64-continuous.json
  maps/mni152-dwm-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
  maps/mni152-jba31_207-continuous.json
  maps/mni152-jba31_227-continuous.json
  maps/mni152-sw_hcp-continuous.json
  maps/mni152-swm-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add readme
  README.rst
Due: none

Recalculate all preconfigured bounding boxes
  maps/bigbrain-jba29-labelled.json
  maps/colin27-jba29-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix push conditions of test_centroid_computation and test_preconfigured_boundingboxes
  .github/workflows/test_centroid_computation.yml
  .github/workflows/test_preconfigured_boundingboxes.yml
Due: none

test ci
  maps/bigbrain-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

test ci with changes in image features
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert ci test commits and update ci conditions
  .github/workflows/test_centroid_computation.yml
  .github/workflows/test_preconfigured_boundingboxes.yml
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
  maps/bigbrain-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: parcellation entity version match should case insensitive
  _code/populate_pe_ref.py
  parcellations/julichbrain_v1_18.json
  parcellations/mebrains_parcellation.json
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "Remove visf atlas on fsaverage until region names are solidified"
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add id to visf fsaverage map
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add name field to visf fsaverage map
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

maint: add PEV study target
  .github/workflows/cron-update-kg-proxy.yml
Due: none

maint: fix artefact dir
  .github/workflows/cron-update-kg-proxy.yml
Due: none

add publication info for prerelease connectivity datasets
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_1_streamlinelengths_hcp.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

first (DRAFT) commit to add Marmoset NM template to siibra configurations
  atlases/marmoset.json
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update segmentation map properties to remove definition about sparse_map
  maps/marmoset_nm-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods
