Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_parcellation_region_name_duplication: any of: parcellations/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json

Correct Superficial fibre bundles' dataset uuid
  parcellations/bundles_short.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add ftract connectivity
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_concatenated_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest1_rl_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_lr_hcp.json
  features/connectivity/regional/functional/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_resting_state_empcorrfc_rest2_rl_hcp.json
  features/connectivity/regional/functional/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_resting_state_restempcorrfc_1000brains.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinecounts_hcp.json
  features/connectivity/regional/streamlinecounts/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinecounts_1000brains.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_harvardoxford_cort_maxprob_thr0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/0f1ccc4a-9a11-4697-b43f-9c9c8ac543e6_julich_brain_cytoarchitectonic_maps_3_0_streamlinelengths_hcp.json
  features/connectivity/regional/streamlinelengths/4e4ec7f4-e465-48e7-ac1c-c1d0f37cb50a_julich_brain_cytoarchitectonic_maps_2_9_streamlinelengths_1000brains.json
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_2_9_resting_state_rfmri_rest2_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use siibra-python v0.4EOL branch for ci
  .gitlab-ci.yml
Due: none

Remove wrong ebrains link from The Enriched Connectomes
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add julich brain 3.1 parcellation and maps
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206regions-continuous.json
  maps/colin27-jba31_225regions-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206regions-continuous.json
  maps/mni152-jba31_225regions-continuous.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix v0.4 eol deployment
  .gitlab-ci.yml
Due: none

trigger deploy
  features/images/sections/cellbody/73c1fa55-d099-4854-8cda-c9a403c6080a_bigbrain_1um_5550.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update julich brain 3.1
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206regions-continuous.json
  maps/colin27-jba31_225regions-continuous.json
  maps/colin27-jba31_226regions-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206regions-continuous.json
  maps/mni152-jba31_225regions-continuous.json
  maps/mni152-jba31_226regions-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

jba3.1 labelled maps, correct fragment names
  maps/colin27-jba31-labelled.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

jba3.1 fsaverage map, correct fragment names
  maps/fsaverage-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

julich brain 3.1- create unmapped indices for regions unknown to the parcellation
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_226regions-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_226regions-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add julich brain 3.1 to human atlas
  atlases/human.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add mars and von economo parcellations to human atlas
  atlases/human.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update julich brain 3.1 based on new changes (parcellation and labelled maps)
  maps/colin27-jba31-labelled.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Trigger ci
  maps/colin27-jba31-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

julich brain 3.1 use hex rgb
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update julich brain 3.1 pmaps
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_206regions-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/colin27-jba31_226regions-continuous.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_206regions-continuous.json
  maps/mni152-jba31_226-continuous.json
  maps/mni152-jba31_226regions-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use DTI modality for CHENONCEAU dti volumes
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add next version field for julich brain parcellations
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add prerelease tag to Julich brain 3.1
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add mouse point dists from 27dd2588-f4da-406c-9d01-8569bf912b0e
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_NexCko.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_WTcontrol.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_littermatecontrol.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

JBA 3.1 PMs: Fix 2x slashes and listing extra volumes
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_226-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Check scehma
  .github/workflows/check-schema.yml
Due: none

Create test-configuration.yml
  .github/workflows/test-configuration.yml
Due: none

Create check_connectivity_json.yml
  .github/workflows/check_connectivity_json.yml
Due: none

Correct task names and schema path variable
  .github/workflows/check-schema.yml
  .github/workflows/test-configuration.yml
Due: none

Update check schema ci directory
  .github/workflows/check-schema.yml
Due: none
