Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

manipulate the name of Piriform Cortex parent node to remove the unique id issue
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove mesh registration for non leaf nodes
  maps/marmoset_nm-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

added (structural) to the parent node of piriform cortex as workaround for siibra-python id check
  parcellations/marmoset_nm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

macaque receptor fingerprint
  features/tabular/de62abc1-7252-4774-9965-5040f5e8fb6b_macaque_receptor_fingerprint.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove func fingerprints of old jba versions
  features/tabular/fingerprints/functional/func_fingerprint_jba118.json
  features/tabular/fingerprints/functional/func_fingerprint_jba29.json
  features/tabular/fingerprints/functional/func_fingerprint_jba303.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update short bundles for jba 31
  features/connectivity/streamlinefiberbundles/jba31_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update short fiber bundles
  features/connectivity/streamlinefiberbundles/jba31_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

GABA/BZ Autoradiography right hemisphere
  features/images/vois/autoradiography/gaba_bz_whole_brain_distribution.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

pli blockface - right hemisphere
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

added openminds datasetversion to common space
  spaces/marmoset_nm_nissl.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: typo
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove old id from new blockface hemisphere
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

prerelease tag to GABA/BZ right hemisphere distribution
  features/images/vois/autoradiography/gaba_bz_whole_brain_distribution.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove prerelease tag: marmoset space
  spaces/marmoset_nm_nissl.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add citation to marmoset map
  maps/marmoset_nm-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Fix sulci atlas
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: rat tracing conn affine
  features/images/sections/autoradiography/a2816a0f-4c47-4626-a146-72fd10422e99_D1.json
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e_primary_motor_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e_primary_somatosensory_area_barrel_field.json
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e_secondary_somateosensory_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4c9e5b3f-505f-4218-82e3-d3d0723e5e9f_primary_somatosensory_area_barrel_field.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97_Primary_somatosensory_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97_Primary_somatosensory_area_face_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97_Primary_somatosensory_area_forelimb_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97_Primary_somatosensory_area_hindlimb_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97_Primary_somatosensory_area_trunk_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Primary_motor_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Primary_somatosensory_area_face_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Primary_somatosensory_area_forelimb_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Primary_somatosensory_area_hindlimb_representation.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Primary_visual_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Secondary_motor_area.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3_Secondary_visual_area_medial_part.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add slicing axis to rat autoradiography section
  features/images/sections/autoradiography/a2816a0f-4c47-4626-a146-72fd10422e99_D1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add ids to human sulci maps
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update 1000brains streamline counts source
  features/connectivity/regional/streamlinecounts/dec1d1e5-dc79-4fa2-b031-2dced0b6bdcd_derived_1000brains_jba31.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Combined Macaque Brain Atlas: MEBRAINS, fMRI, CHARM"
  maps/mebrains-mebrains-charm-fmri-combined-labelled.json
  parcellations/mebrains-charm-fmri-combined.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update pli_blockface_right_hemisphere.json
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

(cherry-picked 37fffebc78387af3743bde18c161746f0b63a3e6)
  atlases/human.json
  maps/bigbrain-jbabb-labelled.json
  parcellations/julichbrain_bb_v2.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add updated cell density profile config
  features/tabular/corticalprofiles/celldensity/cell_density_v2.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove jba 3.1 short fiber bundles until region interseciton is corrected
  features/connectivity/streamlinefiberbundles/jba31_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

jba 2.9 short fiber bundles
  features/connectivity/streamlinefiberbundles/jba29_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix bundle names jba 2.9 streamlines
  features/connectivity/streamlinefiberbundles/jba29_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update cell_density_v2.json
  features/tabular/corticalprofiles/celldensity/cell_density_v2.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

divide new cell density data into profiles and layerwise
  features/tabular/corticalprofiles/celldensity/cell_density_profile_v2.json
  features/tabular/layerstatistics/celldensity/cell_density_v2.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Delete pli_blockface_right_hemisphere.json
  features/images/vois/blockface/pli_blockface_right_hemisphere.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove regions in embargo combined Macaque Brain Atlas
  maps/mebrains-mebrains-charm-fmri-combined-labelled.json
  parcellations/mebrains-charm-fmri-combined.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove first draft of the rat receptor autoradiography config
  features/images/sections/autoradiography/a2816a0f-4c47-4626-a146-72fd10422e99_D1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update jba29_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/jba29_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add short dmri bundles for each labelled mni map
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR0_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_CORT_THR25_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_DK_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA118_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA29_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA30_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_JBA31_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SWM_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_SW_HCP_LABELLED_streamline_fiberbundles_short.json
  features/connectivity/streamlinefiberbundles/MNI152_VONECONOMOKOSKINAS_LABELLED_streamline_fiberbundles_short.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

First attempt at ingesting bids dataset containing short bundle niftis into jsons to be used by siibra-configurations
  features/images/vois/PDmap/1f83ce21284fd0ecf206860e0a141d77.json
  features/images/vois/T1map/215c51798185cd470acfdefe4dc66be7.json
  features/images/vois/T2map/e9bd9f559706cb72d3c7ffba1f92baf5.json
  features/images/vois/T2starmap/3adfec0a6623835bfd79435cd8edeaa7.json
  features/images/vois/T2w/9a1a1d6962d42b3f5f123828db019720.json
  features/images/vois/T2w/ea1b89166c8b6e8d2365ace0f565b04e.json
  features/images/vois/dwimap/03291f21e647fefa6f0b79f100abe6a3.json
  features/images/vois/dwimap/711cc0dc7186bb0249278e99fcb68bde.json
  features/images/vois/dwimap/9de57bb794c5d5e5d291688f56bf99b0.json
  features/images/vois/dwimap/c34c4b8da06452e83a0bd1a18c7152d9.json
  features/images/vois/dwimap/e336cb78d5befccf4d20b375627250db.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
