Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

replace spaces to tab for better indentation
  atlases/marmoset.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove regions in features/voi definition. It seems not being consulted at all
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Merge pull request #100 from Neuroinflab/v0_4_EOL
  atlases/marmoset.json
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

tag marmoset atlas as prerelease
  atlases/marmoset.json
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: marmoset atlas `piriform cortex` capitilization
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add `marmoset piriform cortex` to xfail of region id test
  _ci/ensure_no_duplicated_region_name.py
Due: none

remove marmoset morphometry voi preconfigured bboxes
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add missing mesh provider for marmoset labelled map
  maps/marmoset_nm-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove marmoset until release ready
  atlases/marmoset.json
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

added description and authors for the template space
  spaces/marmoset_nm_nissl.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

converted by siibra-chore 5f50580c9eab740b82ce004f5f28c46c53a3d4f1
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: maps now need id
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add to human atlas
  atlases/human.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove visf atlas until release
  maps/mni152-visfAtlas-labelled.json
  parcellations/visfAtlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

wip: dMRI streamline trajectories - julich brain 3.1
  features/connectivity/streamlinefiberbundles/jba31_streamlinetracks.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

wip: functional fingerprint for mni152 maps
  features/tabular/fingerprints/functional/func_fingerprint_difumo1024.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo128.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo256.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo512.json
  features/tabular/fingerprints/functional/func_fingerprint_difumo64.json
  features/tabular/fingerprints/functional/func_fingerprint_dk.json
  features/tabular/fingerprints/functional/func_fingerprint_jba118.json
  features/tabular/fingerprints/functional/func_fingerprint_jba29.json
  features/tabular/fingerprints/functional/func_fingerprint_jba303.json
  features/tabular/fingerprints/functional/func_fingerprint_jba31.json
  features/tabular/fingerprints/functional/func_fingerprint_short_fiber_bundles_hcp.json
  features/tabular/fingerprints/functional/func_fingerprint_superficial_bundles.json
  features/tabular/fingerprints/functional/func_fingerprint_vep.json
  features/tabular/fingerprints/functional/func_fingerprint_von_economo.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

cherry picked commits
  atlases/human.json
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Hi-res MRI of macaque brain
  features/images/vois/mri/macaque_t2w_100um_in_MEBRAINS_template_space.json
  features/images/vois/mri/macaque_t2w_180um_in_MEBRAINS_template_space.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add transformation info to mouse point dists
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_NexCko.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_WTcontrol.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_littermatecontrol.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

sulci atlas expand citation info and add map names
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add license to sulci atlas
  maps/bigbrain-humansulci-labelled.json
  maps/colin27-humansulci-labelled.json
  maps/mni152-humansulci-labelled.json
  parcellations/humansulci.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fixed whitespace in the parcellation added licence data to space and parcellation meta added name field to enable the "dataset" of publications
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fixed a few upper case vs lower case naming for parcellations and map fixed description of the parcellation json fixed copyright field use \t as standard indentation for json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

wip: rat receptor autoradiography
  features/images/sections/autoradiography/a2816a0f-4c47-4626-a146-72fd10422e99_D1.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: mice Nr2f1 point dist affine
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_NexCko.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_WTcontrol.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_littermatecontrol.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use dataproxy repo conn for ftract
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_41db823e-7e1b-44c7-9c69-eaa26e226384.json
  features/connectivity/regional/anatomofunctional/dc0750b4-1dd1-42d8-9e50-7f2fa97db085_FTRACT_ea46bcd6-d19b-479a-8d45-ecc486e3c8b1.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use dataproxy repo conn for streamline bundles
  features/connectivity/streamlinefiberbundles/jba31_streamlinetracks.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add all bundles to jba 31 streamlines
  features/connectivity/streamlinefiberbundles/jba31_streamlinetracks.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

rename jba 3.1 fiber bundle config
  features/connectivity/streamlinefiberbundles/jba31_streamline_fiberbundles.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

wip: bids connectivity styled 1000 brains streamlines on julich brain 3.1
  features/connectivity/regional/streamlinecounts/dec1d1e5-dc79-4fa2-b031-2dced0b6bdcd_derived_1000brains_jba31.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update point dist jsons according to the subgroups
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_NexCko.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_WTcontrol.json
  features/tabular/point_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_Nr2f1_points_littermatecontrol.json
  features/tabular/point_distribution/tracing_connectivity_distribution/27dd2588-f4da-406c-9d01-8569bf912b0e_mice_tracing.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

tracing conn dist fix "files"
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e.json
  features/tabular/point_distribution/tracing_connectivity_distribution/0c0b9038-7175-4ac0-a183-28c52675202d.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4c9e5b3f-505f-4218-82e3-d3d0723e5e9f.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97.json
  features/tabular/point_distribution/tracing_connectivity_distribution/605bbc59-8b6c-4621-94f1-7686ff9600b2.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3.json
  features/tabular/point_distribution/tracing_connectivity_distribution/b228e91c-4da1-4c90-966a-c8177ea1d856.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update tracing conn dists to correct species
  features/tabular/point_distribution/tracing_connectivity_distribution/08545586-ca25-474f-8d3a-ae654cdf0d9e.json
  features/tabular/point_distribution/tracing_connectivity_distribution/0c0b9038-7175-4ac0-a183-28c52675202d.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4c9e5b3f-505f-4218-82e3-d3d0723e5e9f.json
  features/tabular/point_distribution/tracing_connectivity_distribution/4e6735fa-ec66-42f0-a6bf-850ad9c8ae97.json
  features/tabular/point_distribution/tracing_connectivity_distribution/605bbc59-8b6c-4621-94f1-7686ff9600b2.json
  features/tabular/point_distribution/tracing_connectivity_distribution/67ed565f-4e0a-41ff-ae2c-2a2854017bc3.json
  features/tabular/point_distribution/tracing_connectivity_distribution/b228e91c-4da1-4c90-966a-c8177ea1d856.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

added contributed marmoset atlas configuration files to master branch
  atlases/marmoset.json
  features/images/vois/morphometry/marmoset_cortical_thickness.json
  features/images/vois/morphometry/marmoset_normalized_thickness.json
  features/images/vois/morphometry/segmentation_confidence_streamlines.json
  maps/marmoset_nm-cortical-labelled.json
  parcellations/marmoset_nm.json
  spaces/marmoset_nm_nissl.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
