Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

test ci check_maps_precompmesh
  maps/bigbrain-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove Julich Brain 3.1 prerelease for config release
  atlases/human.json
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_226-continuous.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "Remove Julich Brain 3.1 prerelease for config release"
  atlases/human.json
  maps/colin27-jba31-labelled.json
  maps/colin27-jba31_206-continuous.json
  maps/colin27-jba31_226-continuous.json
  maps/fsaverage-jba31-labelled.json
  maps/mni152-jba31-labelled.json
  maps/mni152-jba31_206-continuous.json
  maps/mni152-jba31_226-continuous.json
  parcellations/julichbrain_v3_1.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update check-schema.yml
  .github/workflows/check-schema.yml
Due: none

check maps precompmesh on seperate workflow
  .github/workflows/check-maps-precompmesh.yml
  .github/workflows/test-configuration.yml
Due: none

test check map precompmesh worklow
  .github/workflows/check-maps-precompmesh.yml
  .github/workflows/check-schema.yml
  maps/bigbrain-cortical-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

check schema: Use github workspace to cloning siibra-python
  .github/workflows/check-schema.yml
Due: none

check schema: check out and move siibra-python to move it out of workspace
  .github/workflows/check-schema.yml
Due: none

check_connectivity_json: check out and move siibra-python to above workspace
  .github/workflows/check_connectivity_json.yml
Due: none

Trigger test connectivity ci
  .github/workflows/check_connectivity_json.yml
  features/connectivity/regional/tracing/37258979-8b9f-4817-9d83-f009019a6c38_rat_tracing_connectivity.json
Due: ci:test:check_connectivity_json, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Remove gitlab ci yml
  .gitlab-ci.release-checklist.yml
  .gitlab-ci.yml
Due: none

Github action: Push to mirror
  .github/workflows/push-to-mirror.yml
Due: none

wip: release checklist creation
  .github/workflows/release-checklist.yml
Due: none

fix push to mirror
  .github/workflows/push-to-mirror.yml
Due: none

Add visf atlas
  maps/mni152-visfAtlas-labelled.json
  parcellations/visfAtlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: release checklist
  .github/workflows/push-to-mirror.yml
  .github/workflows/release-checklist.yml
  _ci/create_new_issue.py
  release_checklist.md
Due: none

fix workflow: now will update title, added sanity check
  .github/workflows/release-checklist.yml
Due: none

Fix var and secret use of push-to-mirror workflow
  .github/workflows/push-to-mirror.yml
Due: none

Remove the need for env with secrets for push-to-mirror
  .github/workflows/push-to-mirror.yml
Due: none

debug push to remote
  .github/workflows/push-to-mirror.yml
Due: none

debug mirror remote
  .github/workflows/push-to-mirror.yml
Due: none

Correct release checklist label
  .github/workflows/release-checklist.yml
Due: none

fix: release checklist wokflow Correct for loops
  .github/workflows/release-checklist.yml
Due: none

fix release checklist
  .github/workflows/release-checklist.yml
Due: none

julich_brain_terminolgy.json is no longer required (info is stored in the parcellation configs)
  julich_brain_terminolgy.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Fix: HarvardOxford parcellation dois
  parcellations/harvard-oxford-cortl-maxprob-thr0.json
  parcellations/harvard-oxford-cortl-maxprob-thr25.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

maint: deploy data validation
  .github/workflows/update-datavalidation.yml
Due: none

Add visf fsaverage map
  maps/fsaverage-visfAtlas-labelled.json
  maps/mni152-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

VisfAtlas update fsaverage region names to match parc
  maps/fsaverage-visfAtlas-labelled.json
  parcellations/visfAtlas.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add publications to JBA3.0.3 along with dataset
  parcellations/julichbrain_v3_0_3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

converted PEV to PE, if available
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add publications to Waxholm and BigBrain space. Mouse space minor fix
  parcellations/mouse_allenccfv3_2015.json
  spaces/bigbrain_2015.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add publication info to cortical layers parc
  parcellations/cortical_layers.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add missing second publication to waxholm parc v1.01
  parcellations/rat_waxholmv1_01.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: citation of allen mouse atlas
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  spaces/mouse_allenccfv3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update allen mouse citations
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  spaces/mouse_allenccfv3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove PEV ref in region
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

maint: auto update kg proxy
  .github/workflows/cron-update-kg-proxy.yml
  _ci/cron_sync_kg_proxy.py
Due: none

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
