Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_parcellation_region_name_duplication, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: main
    GIT_DEPTH: 1
  ...

ci:test:check_parcellation_region_name_duplication:
  script: python _ci/ensure_no_duplicated_region_name.py

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

UUID and name update: PLI section 0920 and left blockface
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Chennonceau template 200um
  spaces/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

PLI section 0920 and left blockface: use datasetversion
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Revert "Merge branch 'chenonceau' into 'master'"
  spaces/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add ebrains DatasetVersion to Waxholm parcelations
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add DatasetVersion to mebrains
  parcellations/mebrains_parcellation.json
  spaces/mebrains.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add DatasetVersion to cortilcal layers
  parcellations/cortical_layers.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add DatasetVersion to all difumo
  parcellations/difumo1024.json
  parcellations/difumo128.json
  parcellations/difumo256.json
  parcellations/difumo512.json
  parcellations/difumo64.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update dataset connection for julich brain
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update dataset connection for fibre bundels
  parcellations/bundles_long.json
  parcellations/bundles_short.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update desikankilliany publication fields for GenericDataset
  parcellations/dk.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update harvardoxford publication fields for GenericDataset
  parcellations/harvard-oxford-cortl-maxprob-thr0.json
  parcellations/harvard-oxford-cortl-maxprob-thr25.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update superficial-white-bundle-hcp.json
  parcellations/superficial-white-bundle-hcp.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add full publication info to VEP
  parcellations/vep.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add dataset info for several spaces
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add detailed publication info to mni colin 27 space
  spaces/mni_colin_27.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix mni colin27
  spaces/mni_colin_27.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

readd kgv1 dataset uuids to waxholm parcs
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Allen mouse: Add publication details for genericdataset
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

remove datasetversion uuid from The Enriched Connectome until release
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add id to CHENONCEAU anatomical 200um
  spaces/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

CHENONCEAU vois
  features/images/vois/blockface/chenonceau_dti_fa_200um_chenonceau200um.json
  features/images/vois/blockface/chenonceau_dti_fa_200um_mni152.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um_chenonceau200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um_mni152.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Chennonceau template 150um
  spaces/chenonceau_anatomical_150um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Make all Chennonceau volumes a volume of interest
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_fa_200um_chenonceau200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um_chenonceau200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
  spaces/chenonceau_anatomical_150um.json
  spaces/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use blockface for chenonceaudti until the release
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Use T2 weighted MRI for chenonceau spaces until the release
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update metedata of configs w missing urls
  features/images/vois/lsfm/broca_neun.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest1_rl_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_lr_bold.json
  features/tabular/activity_timeseries/bold/julich_brain_cytoarchitectonic_maps_3_0_resting_state_rfmri_rest2_rl_bold.json
  parcellations/isocortex.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/vonEconomoKoskinas.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add citation to waxholm 4
  parcellations/rat_waxholmv4.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add citation field to iscortex publications
  parcellations/isocortex.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Isocortex add full citation
  parcellations/isocortex.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

trigger deploy
  parcellations/julichbrain_v2_9_0.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Temporarily remove Chenonceau voi
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add Chenonceau voi for preview
  features/images/vois/blockface/chenonceau_dti_fa_200um.json
  features/images/vois/blockface/chenonceau_dti_rgb_200um.json
  features/images/vois/mri/chenonceau_anatomical_150um.json
  features/images/vois/mri/chenonceau_anatomical_200um.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: add custom entity to root elements of mebrains
  parcellations/mebrains_parcellation.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add missing datasets for julich brain maps
  maps/colin27-jba118-continuous.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

add secondary dataset for broca voi due to not working publication doi
  features/images/vois/lsfm/broca_neun.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add dataset link to Mebrains parcellation
  parcellations/mebrains_parcellation.json
Due: ci:test:check_parcellation_region_name_duplication, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add publication info to mni152 space
  spaces/icbm_152_2009c_nonl_asym.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

update waxholm space dataset
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add citation to allen mouse template
  spaces/mouse_allenccfv3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_parcellation_region_name_duplication: any of: parcellations/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
