Repository FZJ-INM1-BDA/siibra-configurations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci:test:check_connectivity_json, ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

ci:test:check_connectivity_json:
  variables:
    SIIBRA_PYTHON_PATH: $CI_BUILDS_DIR/$CI_CONCURRENT_ID/siibra-python
    SIIBRA_PYTHON_BRANCH: v0.4EOL
    GIT_DEPTH: 1
  ...

ci:test:check_maps_precompmesh:
  stage: test
  script: 'pip install -U pip
  
    pip install -r _ci/requirements.txt
  
    python _ci/check_precompmesh.py
  
    '

deploy:okd:sync_to_okd:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:restart_server_pod:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

deploy:okd:get_api_queues:
  stage: git-robot
  before_script: "echo \"[DEVELOP BUILD] Using $SIIBRA_API_BRANCH branch. In prod, use main branch instead.\"\nrm -rf $SIIBRA_API_PATH\ngit clone -v -b $SIIBRA_API_BRANCH \\\n  https://github.com/FZJ-INM1-BDA/siibra-api.git \\\n  $SIIBRA_API_PATH\ngit -C $SIIBRA_API_PATH log -n 1\n"
  ...

deploy:okd:start_new_worker_pods:
  stage: git-robot
  before_script:
  - apt-get update && apt-get install -y jq
  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xzf openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  ...

fix release ci/cd
  .github/workflows/release-checklist.yml
Due: none

fix: test e2e region after update
  .github/workflows/cron-update-kg-proxy.yml
Due: none

fix release pipeline
  .github/workflows/release-checklist.yml
Due: none

added atlas annotation
  maps/colin27-jba118-continuous.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba30_157regions-continuous.json
  maps/colin27-jba30_175regions-continuous.json
  maps/mni152-jba118-continuous.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba30_157regions-continuous.json
  maps/mni152-jba30_175regions-continuous.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

hotfix: migration vm
  features/images/vois/blockface/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_blockface.json
  features/images/vois/mri/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_t2.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_hsv_fom.json
  features/images/vois/pli/b08a7dbc-7c75-4ce7-905b-690b2b1e8957_hippocampus_transmittance.json
  maps/bigbrain-cortical-labelled.json
  maps/bigbrain-isocortex-labelled.json
  maps/bigbrain-jba29-labelled.json
  maps/colin27-jba118-labelled.json
  maps/colin27-jba29-continuous.json
  maps/colin27-jba29-labelled.json
  maps/colin27-jba30-labelled.json
  maps/fsaverage-jba29-labelled.json
  maps/fsaverage6-jba29-labelled.json
  maps/hcp32k-jba29-labelled.json
  maps/mni152-dwm-labelled.json
  maps/mni152-jba118-labelled.json
  maps/mni152-jba29-continuous.json
  maps/mni152-jba29-labelled.json
  maps/mni152-jba30-labelled.json
  maps/mni152-sw_hcp-labelled.json
  maps/mni152-swm-labelled.json
  maps/monkey-mebrains-labelled.json
  maps/mouse-ccf2015-labelled.json
  maps/mouse-ccf2017-labelled.json
  maps/rat-waxholmv1_01-labelled.json
  maps/rat-waxholmv2-labelled.json
  maps/rat-waxholmv3-labelled.json
  maps/rat-waxholmv4-labelled.json
  parcellations/cortical_layers.json
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add visf atlas as prerelease
  atlases/human.json
  parcellations/visfAtlas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

map: add freesurfer-annot provider to visf
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

map: add neuroglancer/precomputed provider to visf
  maps/mni152-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Update fsaverage-visfAtlas-labelled.json
  maps/fsaverage-visfAtlas-labelled.json
Due: ci:test:check_maps_precompmesh, deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: remove modality from visfAtlas
  parcellations/visfAtlas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Add colors to bigbrain jba29 regions without
  parcellations/julichbrain_v2_9_0.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

maint: remove unneeded ebrains ref
  features/images/vois/blockface/b89ddbcf-7e90-479a-914a-c4ae2c7b9bf4_pli_left_hemisphere_blockface.json
  features/images/vois/lsfm/broca_neun.json
  features/images/vois/mri/WIKIBrainStem.json
  features/images/vois/pli/103b919a-3e2c-4ecd-8531-1d35eaf09eaa_pli_section_0920_20230927_fom.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

wip: parc julich brain 2.9 in new schema
  parcellations/julichbrain_v2_9_0.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

converted space
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

feat: updated space to new schema
  spaces/bigbrain_2015.json
  spaces/fsaverage.json
  spaces/fsaverage6.json
  spaces/hcp32k.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
  spaces/rat_waxholm.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

convert parcellations to attribute system
  parcellations/bundles_long.json
  parcellations/bundles_short.json
  parcellations/cortical_layers.json
  parcellations/difumo1024.json
  parcellations/difumo128.json
  parcellations/difumo256.json
  parcellations/difumo512.json
  parcellations/difumo64.json
  parcellations/dk.json
  parcellations/harvard-oxford-cortl-maxprob-thr0.json
  parcellations/harvard-oxford-cortl-maxprob-thr25.json
  parcellations/isocortex.json
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/julichbrain_v3_1.json
  parcellations/marsatlas.json
  parcellations/mebrains_parcellation.json
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
  parcellations/superficial-white-bundle-hcp.json
  parcellations/vep.json
  parcellations/visfAtlas.json
  parcellations/vonEconomoKoskinas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: archive_options
  spaces/bigbrain_2015.json
  spaces/icbm_152_2009c_nonl_asym.json
  spaces/mebrains.json
  spaces/mni_colin_27.json
  spaces/mouse_allenccfv3.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

fix: publication -> url/doi
  parcellations/bundles_long.json
  parcellations/bundles_short.json
  parcellations/cortical_layers.json
  parcellations/difumo1024.json
  parcellations/difumo128.json
  parcellations/difumo256.json
  parcellations/difumo512.json
  parcellations/difumo64.json
  parcellations/dk.json
  parcellations/harvard-oxford-cortl-maxprob-thr0.json
  parcellations/harvard-oxford-cortl-maxprob-thr25.json
  parcellations/isocortex.json
  parcellations/julichbrain_v1_18.json
  parcellations/julichbrain_v2_9_0.json
  parcellations/julichbrain_v3_0_3.json
  parcellations/marsatlas.json
  parcellations/mebrains_parcellation.json
  parcellations/mouse_allenccfv3_2015.json
  parcellations/mouse_allenccfv3_2017.json
  parcellations/rat_waxholmv1_01.json
  parcellations/rat_waxholmv2.json
  parcellations/rat_waxholmv3.json
  parcellations/rat_waxholmv4.json
  parcellations/vep.json
  parcellations/visfAtlas.json
  parcellations/vonEconomoKoskinas.json
Due: deploy:okd:sync_to_okd, deploy:okd:restart_server_pod, deploy:okd:get_api_queues, deploy:okd:start_new_worker_pods

Path conditions:
  ci:test:check_connectivity_json: any of: features/connectivity/**/*.json
  ci:test:check_maps_precompmesh: any of: maps/*.json
  deploy:okd:sync_to_okd: any of: **/*.json
  deploy:okd:restart_server_pod: any of: **/*.json
  deploy:okd:get_api_queues: any of: **/*.json
  deploy:okd:start_new_worker_pods: any of: **/*.json
